.skills {
  .slider {
    .splide__slide {
      .aurora-card {
        min-height: 320px;
        width: 550px;

        .content {
          overflow-y: scroll;
          scrollbar-width: none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
