.languages {
  .slider {
    .splide__slide {
      .aurora-card {
        width: 375px;
        min-height: 230px;

        .title {
          margin-bottom: 0;
        }

        .content {
          .qualification {
            color: $FONT_LOWLIGHT;
            font-weight: 500;
            font-style: italic;
            font-size: 1.25rem;
            text-align: center;
            margin: 0.25em 0 1em 0;
          }
        }
      }
    }
  }
}
