.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 1.5rem;

  .previous,
  .next {
    position: absolute;
    top: 40%;
    font-size: 2em;
    cursor: pointer;
  }

  .next {
    right: 0;
  }

  .wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 90%;

    .card {
      margin: 0 1em;
      width: 300px;
      max-width: 75vw;

      .content {
        text-align: center;
        padding: 1rem;
      }
    }
  }

  .indicator {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin: 0.75rem 0;
    list-style-type: none;
    align-items: center;
    justify-content: center;

    li {
      margin: 0.5rem 0.25rem;
    }

    .slick-active button {
      opacity: 1;
      border: none;
      background-color: $HIGHLIGHT;
    }

    button {
      display: block;
      padding: 0;
      width: 3rem;
      height: 0.4rem;
      border: 1px solid $BACKGROUND_HIGHLIGHT;
      opacity: 0.75;
      background-color: $LOWLIGHT;
      text-indent: -99999rem;
      transition: $AURORA_TRANSITION;

      &:focus-visible {
        outline: none;
      }

      &:hover {
        opacity: 1;
        border: none;
        background-color: $BACKGROUND_HIGHLIGHT;
      }
    }
  }
}

/* ============= Device specific fixes ============= */

@include tablet {
  .slider {
    .previous {
      left: 0px;
    }

    .next {
      right: 0px;
    }
  }
}

@include mobile {
  .slider {
    .previous {
      display: none !important;
    }

    .next {
      display: none !important;
    }

    .wrapper {
      width: 100%;

      .card {
        max-width: 85vw;
      }
    }

    .indicator {
      margin: 0.25rem 0;

      li {
        margin: 0.55rem 0.35rem;
      }
    }
  }
}
