{{- define "content" -}}

{{ partial "navbars/projects" . }}
{{ partial "section/hero" . }}
<section class="bg container-fluid projects-page" id="projects">
  <div class="container">
    {{ partial "section/title" "Open Source Projects" }}
    <div class="row projects">
      {{ range sort site.Data.projects ".weight" -}}
      <div class="col-xs-12 col-md-6 col-xl-4 project">
        {{ partial "cards/project" . }}
      </div>
      {{ end -}}
    </div>
  </div>
</section>

{{- end -}}

{{- define "scripts" }}
  <script src='{{ "js/navbar.js" | relURL }}'></script>
{{- end -}}
