//-----------------------------------
// Background
//-----------------------------------
$BACKGROUND_BLACK:     #111213;
$BACKGROUND_DARKER:    #13171b;
$BACKGROUND_LIGHTER:   #191f26;
$BACKGROUND_HIGHLIGHT: #323f4b;

//-----------------------------------
// Font
//-----------------------------------
$FONT_LOWLIGHT:  #a7b3be;
$FONT:           #cfd7e2;
$FONT_HIGHLIGHT: #f9fafc;

//-----------------------------------
// Palette
//-----------------------------------
$PRIMARY:      #3daabb;
$HIGHLIGHT:    #19d3da;
$LOWLIGHT:     #1f2933;
$AURORA_GREEN: #053C37;
$AURORA_BLUE:  #042D47;
