{{- define "content" -}}

{{ partial "navbars/portfolio" . }}
{{ partial "section/hero" . }}
<div class="portfolio-page">
{{ range sort site.Data.portfolio "section.weight" -}}
  {{ partial .section.template . }}
{{ end -}}
</div>

{{- end -}}

{{- define "scripts" }}
  <script src='{{ `js/navbar.js` | relURL }}'></script>
  <script src='{{ `plugins/itype/itype.min.js` | relURL }}'></script>
  <script src='{{ `plugins/itype/config.js` | relURL }}'></script>
  <script src='{{ `plugins/splide/splide.min.js`  | relURL }}'></script>
  <script src='{{ `plugins/splide/config.js` | relURL }}'></script>
  <script src="{{ `js/slider.js` | relURL }}"></script>
  <script src="{{ `js/expand.js` | relURL }}"></script>
{{- end -}}
