{{- define "content" -}}

{{ partial "navbars/portfolio" . }}
{{ partial "section/hero" . }}
{{ range sort site.Data.portfolio "section.weight" -}}
  {{ partial .section.template . }}
{{ end -}}

{{- end -}}

{{- define "scripts" }}
  <script src='{{ "plugins/jquery/jquery-3.6.0.min.js" | relURL }}'></script>
  <script src='{{ partial "get/path/itypePlugin" }}'></script>
  <script src='{{ partial "get/path/itypeConfig" }}'></script>
  <script src='{{ partial "get/path/slickPlugin" }}'></script>
  <script src='{{ partial "get/path/slickConfig" }}'></script>
  <script src="{{ `js/expand.js` | relURL }}"></script>
{{- end -}}
