.not-found {
  .content {
    max-width: calc(min(99vw, 900px));
    margin: 0 auto;
    font-style: italic;
    align-items: center;
    flex-direction: column;

    .title {
      z-index: 10;
      position: relative;
      margin: 0 0.25rem 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .back {
      z-index: 10;
      right: 0;
      width: fit-content;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0.25rem 0 auto;

      .btn {
        border: none;
        background: none;
        color: $FONT;
        border-color: $BACKGROUND_HIGHLIGHT;
        transition: $AURORA_TRANSITION;

        i {
          color: $PRIMARY;
          margin-left: 0.5rem;
          transition: $AURORA_TRANSITION;
        }

        &:hover {
          color: $BACKGROUND_DARKER;
          background: $PRIMARY;

          i {
            color: $BACKGROUND_DARKER;
          }
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
