html {
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: $FONT_Text;
  color: $FONT_LOWLIGHT;
  background-color: $BACKGROUND_BLACK;
  quotes: "„" "“";
  scrollbar-width: thin;
  scrollbar-color: $FONT_LOWLIGHT $LOWLIGHT;
}

h1, h2, h3, h4, h5, h6 {
  color: $FONT_HIGHLIGHT;
  font-family: $FONT_Headings !important;
}

a {
  color: $PRIMARY;
  text-decoration: none;

  &:hover {
    color: $HIGHLIGHT;
  }
}

div:nth-child(1) {
  outline: none;
}

code {
  font-family: $FONT_Text;
  font-size: 0.9em;
  color: lighten($AURORA_GREEN, 20);
}

kbd {
  color: $BACKGROUND_BLACK;
  background-color: lighten($AURORA_GREEN, 20);
}

blockquote {
  padding: 0.3rem 1rem 0.3rem;
  border-left: 0.3rem solid $PRIMARY;
}

table {
  max-width: 100%;
  margin: 1rem 0.5rem;
  background: $BACKGROUND_LIGHTER;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  transition: $AURORA_TRANSITION;

  th, td {
    padding: 0.5rem;
    word-wrap: break-word;
    transition: $AURORA_TRANSITION;

    border-left: 1px solid $BACKGROUND_HIGHLIGHT;
    border-right: 1px solid $BACKGROUND_HIGHLIGHT;

    &:first-of-type {
      border-left: none;
    }
    &:last-of-type {
      border-right: none;
    }

    &:hover {
      background-color: $BACKGROUND_HIGHLIGHT;
    }
  }

  thead {
    border-top: 1px solid transparent;
    border-bottom: 2px solid $PRIMARY;
    transition: $AURORA_TRANSITION;

    tr {
      th {
        color: $PRIMARY;
        font-weight: bold;
        text-align: center;

        &:first-of-type {
          border-collapse: separate !important;
        }

        &:last-of-type {
          border-collapse: separate !important;
        }
      }
    }
  }

  tbody {
    border-bottom: 1px solid transparent;
    transition: $AURORA_TRANSITION;

    td {
      padding-left: 1rem;
      padding-right: 1rem;
      border-top: 1px solid $BACKGROUND_HIGHLIGHT;
    }
  }

  &:hover {
    thead {
      border-bottom-color: $HIGHLIGHT;
    }
  }
}
