.posts-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;

  .item {
    display: block;
    position: relative;
    text-decoration: none;

    padding: 0.5rem 1rem;
    color: $BACKGROUND_BLACK;
    background-color: $FONT;
    border: 1px solid $BACKGROUND_HIGHLIGHT;
    transition: $AURORA_TRANSITION;

    &:hover {
      background-color: $PRIMARY;
    }
  }

  .button {
    color: $FONT_LOWLIGHT;
    background-color: $BACKGROUND_DARKER;

    &:hover {
      background-color: $BACKGROUND_HIGHLIGHT;
    }
  }

  .previous {
    .button {
      border-top-left-radius: 0.45rem;
      border-bottom-left-radius: 0.45rem;
    }
  }

  .next {
    .button {
      border-top-right-radius: 0.45rem;
      border-bottom-right-radius: 0.45rem;
    }
  }

  .disabled {
    pointer-events: none;
    color: $BACKGROUND_HIGHLIGHT;

    &:hover {
      background-color: $BACKGROUND_DARKER;
    }
  }

  .ellipsis {
    color: $FONT;
    border: none;
    pointer-events: none;
    padding: 0.5rem;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }

  .active {
    background-color: $HIGHLIGHT;

    &:hover {
      background-color: $HIGHLIGHT;
    }
  }
}

/* ============= Device specific fixes ============= */

@include mobile {
  .pagination {
    .item {
      font-size: 85%;
    }
  }
}
