.page-content {
  margin-top: 50px;
  min-height: calc(100vh - 100px);
  background-color: $BACKGROUND_LIGHTER;
}

section {
  outline: none;
}

#typing-carousel-data {
  display: none;
}

.title, .sub-title,
.date, .sub-date,
.head, .header,
.meta {
  font-family: $FONT_Headings;
}

.hidden {
  display: none;
}

.header {
  .title {
    padding-top: 2rem;
    text-align: center;
  }

  .title-border {
    position: relative;
    width: 50%;
    height: 1px;
    margin: 1rem auto 0;
    margin-bottom: 3.5rem;
    border-top: 2px solid $BACKGROUND_HIGHLIGHT;

    &:before {
      position: absolute;
      content: '';
      left: calc(50% - 40px);
      top: -3px;
      height: 4px;
      width: 80px;
      background-color: $HIGHLIGHT;
    }
  }
}

.single-page {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  overflow: hidden;
  color: $FONT_HIGHLIGHT;
  display: flex;
  align-items: center;

  .particles {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.markdown {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@include tablet {
  .header {
    .title-border {
      width: 60%;
      margin-bottom: 1.5rem;
    }
  }
}
