@include mobile {
  .about {
    .headlines {
      margin-bottom: 1rem;
    }

    .name {
      margin-top: 1rem;
    }

    .soft-skills {
      margin-top: 0.5rem;
    }

    .social {
      margin-top: 0.5rem;
    }
  }
}
