.interest {
  .aurora-card {
    margin: 1rem;
    background-color: $BACKGROUND_LIGHTER;

    .content {
      text-align: center;

      mark {
        margin: 0;
        border: none;
        font-style: normal;
        color: $FONT_LOWLIGHT;
        white-space: break-spaces;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;

        &:hover {
          color: $BACKGROUND_DARKER;
        }
      }
    }
  }
}
