.about {
  .headlines {
    font-style: italic;
    margin-bottom: 0.5rem;

    .typing-carousel {
      color: $FONT;
      font-size: 1rem;
      margin: auto;
      height: 1.5rem;
      width: max-content;
    }
  }

  .name {
    padding-top: 0.25rem;
    padding-top: 0.25rem;
    font-size: 1.75rem;
    color: $FONT_HIGHLIGHT;

    .highlight {
      color: $HIGHLIGHT;
    }
  }

  .role {
    font-size: 1.25rem;
    color: $FONT_HIGHLIGHT;
    margin-bottom: 0.25rem;

    .highlight {
      color: $HIGHLIGHT;
    }
  }

  .content {
    padding-top: 1.25rem;
  }

  .soft-skills {
    display: grid;

    .skill-bar {
      margin: 0;
      padding: 0;

      ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;

        li {
          margin-top: 1rem;
        }

        .title {
          color: $FONT;
          font-size: 1.12rem;
          margin-top: 0.8rem;
          margin-bottom: 0.25rem;

        }

        .progress {
          height: 16px;
          background-color: $BACKGROUND_HIGHLIGHT;
          border: 1px solid $BACKGROUND_HIGHLIGHT;

          .name {
            color: $FONT;
          }

          .progress-bar {
            background-color: $HIGHLIGHT;
            background: linear-gradient(90deg,
                $BACKGROUND_LIGHTER 0%,
                $HIGHLIGHT 100%);
          }
        }
      }
    }
  }

  .social {
    margin-top: 1rem;
    padding: 2rem 0 0.8rem;

    ul {
      text-align: center;

      li {
        margin-bottom: 0.5rem;
        margin-right: 0.25rem;
        margin-left: 0.25rem;

        a {
          background-color: transparentize($BACKGROUND_LIGHTER, 0.70);
          border: 1px solid $BACKGROUND_LIGHTER;
          display: block;
          height: 4.3rem;
          width: 4.3rem;
          transition: $AURORA_TRANSITION;

          i {
            color: $BACKGROUND_HIGHLIGHT;
            display: inline-block;
            font-size: 2rem;
            line-height: 4.3rem;
            margin: 0;
            opacity: 0.5;
            transition: $AURORA_TRANSITION;
          }

          &:hover {
            background: $BACKGROUND_LIGHTER;
            border-color: $BACKGROUND_HIGHLIGHT;

            i {
              color: $HIGHLIGHT;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .resume {
    text-align: center;
    padding-bottom: 30px;

    .btn,
    .btn-dark {
      color: $PRIMARY;
      background: transparentize($BACKGROUND_LIGHTER, 0.70);
      border-color: $BACKGROUND_HIGHLIGHT;
      transition: $AURORA_TRANSITION;

      &:hover {
        color: $BACKGROUND_DARKER;
        background: $PRIMARY;
      }

      &:active {
        color: $PRIMARY;
        background: $BACKGROUND_LIGHTER;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

/* ============= Device specific fixes ============= */

@include tablet {
  .about {
    .container {
      max-width: 100%;
    }

    .social {
      li {
        margin-top: 0.25rem;
      }
    }
  }
}

@include mobile {
  .about {
    .headlines {
      margin-bottom: 2rem;
    }

    .soft-skills {
      margin-top: 1rem;
    }

    .social {
      margin-top: 2rem;
    }
  }
}
