.achievements {
  .slider {
    .wrapper {
      .card {
        min-height: 300px;
        width: 450px;

        .header {
          .title {
            margin-bottom: 1rem;
          }

          .date {
            line-height: 1.2;
            font-style: italic;
            font-size: 1.25rem;
            text-align: center;
            margin: 0 0 1em 0;
            color: $FONT_LOWLIGHT;
          }
        }
      }
    }
  }
}

/* ============= Device specific fixes ============= */

@include tablet {
  .achievements {
    .slider {
      .wrapper {
        .card {
          min-height: 375px;
        }
      }
    }
  }
}

@include mobile-s {
  .achievements {
    .slider {
      .wrapper {
        .card {
          min-height: 400px;
        }
      }
    }
  }
}
