.education {
  q {
    font-size: 1.25rem;
    font-variant: all-small-caps;
    letter-spacing: 0.01rem;
    word-spacing: 0.01rem;
  }

  .thesis {
    padding-bottom: 0.5rem;
  }
}

/* ============= Device specific fixes ============= */

@include tablet {
  .education {
    q {
      font-size: 1.05rem;
      font-variant: all-small-caps;
    }
  }
}
