.interest {
  .card {
    margin: 1rem;
    background-color: $BACKGROUND_LIGHTER;

    .content {
        padding: 1em;
        margin-bottom: 1rem;
        text-align: center;

        mark {
          box-shadow: none;
          font-style: normal;
          color: $FONT_LOWLIGHT;
          white-space: break-spaces;

          &:hover {
            color: $BACKGROUND_DARKER;
          }
        }
      }
  }
}

@include mobile {
  .interest {
    .card {
      margin: 1.5rem 0;
    }
  }
}
