{{- define "content" -}}
{{- .Scratch.Set "staticTitle" "Posts" -}}

{{ partial "navbars/simple" . }}
{{ partial "section/hero" . }}
<section class="bg container-fluid posts" id="posts">
  <div class="container">
    {{ partial "section/title" .Title }}
    <div class="row">
      <a class="btn" id="posts-link" href='{{ partial "get/path/posts" }}'>Clear filter</a>
    </div>
    <div class="row articles">
      {{ partial "section/articles" . }}
    </div>
    <div class="row">
      {{ partial "section/pagination" . }}
    </div>
  </div>
</section>

{{- end -}}

{{- define "scripts" }}
  <script src='{{ "js/navbar.js" | relURL }}'></script>
{{- end -}}
