{{- define "content" -}}
{{- $publishedOn := partial "get/date/published" . -}}
{{- $modifiedOn := partial "get/date/modified" . -}}
{{- $shareMessage := .Params.shareMessage | default "Share this article to help it reach new audiences!" -}}

{{ partial "navbars/article" . }}
<section class="bg-darker container-fluid single-post" id="{{ .Title | anchorize }}">
  <div class="container article">
    <header class="header">
      <div class="head">
        <h1 class="title"> {{ .Title }} </h1>
        {{ with .Params.description -}}
        <div class="description">{{ . }}</div>
        {{ end -}}
      </div>
      <div class="aurora-border"></div>
      <aside class="meta">
        <div class="item published">
          <i class="fa-regular fa-calendar"></i>
          <span class="key">Published: </span>
          {{ partial "get/date/formatLong" $publishedOn }}
        </div>
        <div class="item wordcount">
          <i class="fas fa-book-open"></i>
          <span class="key">Word count:</span>
          {{ .WordCount }}
        </div>
        <div class="item read-time">
          <i class="fa-regular fa-clock"></i>
          <span class="key">Read time: </span>
          ~{{ .ReadingTime }} minutes
        </div>
        {{ with $modifiedOn -}}
        <div class="item updated">
          <i class="fa-regular fa-calendar-check"></i>
          <span class="key">Last updated: </span>
          {{ partial "get/date/formatLong" . }}
        </div>
        {{ end -}}
      </aside>
      <div class="aurora-border"></div>
    </header>
    <article class="content markdown" id="content">
      {{ .Content | markdownify }}
    </article>
    <div class="share">
      <div class="aurora-border"></div>
      <div class="message title">{{ $shareMessage }}</div>
      <div class="aurora-border"></div>
      <div class="items">
        {{ partial "section/shareButtons" . }}
      </div>
    </div>
  </div>
</section>
{{ partial "section/relatedPosts" . -}}

{{- end -}}

{{ define "scripts" -}}
  <script src='{{ "js/navbar.js" | relURL }}'></script>
  <script src='{{ `js/article.js` | relURL }}'></script>
{{- end -}}
