.single-page {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  color: $FONT_HIGHLIGHT;
  @include flex-center;

  .content {
    position: relative;
    margin: 0 auto;
    @include flex-center-column;
    justify-content: space-between;
    max-width: calc(min(100%, 900px));

    .title {
      z-index: 10;
      position: relative;
      margin: 0 0.25rem 1rem;
      @include no-user-select;
    }
  }

  .particles {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
