.single-page {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  color: $FONT_HIGHLIGHT;
  display: flex;
  align-items: center;

  .content {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(min(100%, 900px));

    .title {
      z-index: 10;
      position: relative;
      margin: 0 0.25rem 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .particles {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}
