{{- $author:= site.Params.Author -}}
{{- $bg := partial "get/section/background" .section -}}
{{- $sectionID := partial "get/section/ID" .section -}}

<section class="{{ $bg }} container-fluid about" id="{{ $sectionID }}" aria-label="about-section">
  <div class="container">
    {{ partial "section/title" .section.name }}
    {{ with .headlines -}}
    <div class="row headlines">
      <div class="typing-carousel">
        <span id="ityped" class="ityped"></span>
        <span class="ityped-cursor"></span>
        <ul id="typing-carousel-data">
          {{ range . -}}
          <li>{{ . | emojify }}</li>
          {{ end -}}
        </ul>
      </div>
    </div>
    {{ end -}}
    <div class="row">
      <div class="col-sm-12 col-md-6 summary">
        <div class="name">
          <span class="highlight">{{ $author.FirstName }}</span>
          {{ with $author.MiddleNames }} {{ . }}, {{ end -}}
          {{- $author.LastName }}
        </div>
        <div class="role">
          {{ with .role -}} {{ . }} {{- end }}
          {{ with .company -}} <a target="_blank" rel="noopener" href="{{ .url }}">@{{ .name }}</a> {{- end }}
        </div>
        <div class="content text-justify markdown">{{ .summary | markdownify }}</div>
      </div>
      <div class="col-sm-12 col-md-6 soft-skills">
        <div class="skill-bar align-self-center">
          <ul>
            {{ range .softSkills -}}
            <li>
              <span class="title">{{ .name }}</span>
              <div class="aurora-progress">
                <div class="aurora-progress-bar" style="width: {{ .percentage }}%"></div>
              </div>
            </li>
            {{ end -}}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="social">{{ partialCached "section/social-links" . }}</div>
      </div>
    </div>
    {{ with .resume -}}
    <div class="row">
      <div class="col-12">
        <form class="resume" action="{{ . | relURL }}" method="get" target="_blank">
          <button class="btn" type="submit">Get my resume</button>
        </form>
      </div>
    </div>
    {{ end -}}
  </div>
</section>

{{- /* EOF */ -}}
