{{- $bg := partial "get/section/background" .section -}}
{{- $sectionID := partial "get/section/ID" .section -}}

<section class="{{ $bg }} container-fluid achievements" id="{{ $sectionID }}" aria-label="achievements-section">
  <div class="container">
    {{ partial "section/title" .section.name }}
    <div class="row">
      <div class="splide slider">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="splide__arrow splide__arrow--next">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="splide__track">
          <div class="splide__list">
            {{ range .achievements -}}
            <div class="splide__slide">{{ partial "cards/achievement" . }}</div>
            {{- end }}
          </div>
        </div>
        <ul class="splide__pagination"></ul>
      </div>
    </div>
  </div>
</section>

{{- /* EOF */ -}}
