{{- $bg := partial "get/section/background" .section -}}
{{- $sectionID := partial "get/section/ID" .section -}}

<section class="{{ $bg }} container-fluid education" id="{{ $sectionID }}" aria-label="education-section">
  <div class="container">
    {{ partial "section/title" .section.name }}
    <div class="row pt-sm-2 pt-md-4">
      <div class="col-12">
        <div class="timeline">
          <div class="center-line">
            <div class="scroll-icon"></div>
          </div>
          {{- $class:= "odd" -}}
          {{ range .degrees -}}
          <div class="wrapper">
            <div class="{{ $class }}">
              {{ partial "cards/education" . }}
            </div>
          </div>
          {{- if eq $class "odd" }} {{ $class = "even" }} {{ else }} {{ $class = "odd" }} {{ end -}}
          {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>

{{- /* EOF */ -}}
