{{- $icon := "far fa-star" -}}
{{- $bg := partial "get/section/background" .section -}}
{{- $sectionID := partial "get/section/ID" .section -}}

<section class="{{ $bg }} container-fluid interest" id="{{ $sectionID }}" aria-label="interests-section">
  <div class="container">
    {{ partial "section/title" .section.name }}
    <div class="row">
    {{ range .content -}}
      <div class="col-sm-12 col-md-6">
        {{ partial "cards/interest" . }}
      </div>
    {{ end -}}
    </div>
  </div>
</section>

{{- /* EOF */ -}}
