{{- $showTopics := false -}}
{{- $showCategories := false -}}

{{- if and (isset site.Taxonomies "categories") (gt (len site.Taxonomies.categories) 1) -}}
  {{- $showCategories = true -}}
{{- end -}}
{{- if and (isset site.Taxonomies "topics") (gt (len site.Taxonomies.topics) 1) -}}
  {{- $showTopics = true -}}
{{- end -}}

{{- if or ($showCategories) ($showTopics) -}}

<section class="bg-darker container-fluid">
  <div class="container taxonomies">
    {{ if $showCategories -}}
    <div class="category">
      <header class="header">
        <i class="fa-solid fa-user-tag"></i>
        <h2 class="title"> Categories </h2>
      </header>
      <div class="items">
        {{ range $name, $items := site.Taxonomies.categories -}}
        <a href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">
          <mark>{{ $name | title | humanize }}</mark>
        </a>
        {{ end -}}
      </div>
    </div>
    {{- end -}}
    {{ if $showTopics -}}
    <div class="tag">
      <header class="header">
        <i class="fa-solid fa-tags"></i>
        <h2 class="title"> Topics </h2>
      </header>
      <div class="items">
        {{ range site.Taxonomies.topics.Alphabetical -}}
        <a href="{{ `topics/` | relLangURL }}{{ .Term | urlize | lower }}">
          <mark>{{ .Term | humanize }} ({{ .Count }})</mark>
        </a>
        {{ end -}}
      </div>
    </div>
    {{- end -}}
  </div>
</section>

{{- end -}}
