{{- define "content" -}}

{{ partial "navbars/simple" . }}
<section class="container-fluid aurora-background single-page not-found" id="not-found">
  <div id="particles-js" class="particles"></div>
  <div class="container content">
    <div class="row title">
      <h1><q>Sometimes getting lost isn't so bad!</q></h1>
    </div>
    <div class="row back">
      <a class="btn btn-dark back" href="javascript: window.history.back();">
        Here is the way back
        <i class="fas fa-chevron-circle-left"></i>
      </a>
    </div>
  </div>
</section>

{{- end -}}

{{- define "scripts" -}}
  <script src='{{ `plugins/particles/particles.min.js` | relURL }}'></script>
  <script src='{{ `plugins/particles/config.js` | relURL }}'></script>
{{- end -}}
