{{- define "header" -}}

{{- end -}}

{{- define "content" -}}
  {{ partial "section/landing" site.Data.landing }}
{{- end -}}

{{- define "scripts" -}}
  {{- partialCached "scripts" . }}
  {{ with site.Data.landing.headlines -}}
  <script src='{{ "plugins/jquery/jquery-3.6.0.min.js" | relURL }}'></script>
  <script src='{{ partial "get/path/itypePlugin" }}'></script>
  <script src='{{ partial "get/path/itypeConfig" }}'></script>
  {{ end -}}
  {{ with site.Data.landing.particles -}}
  <script src='{{ partial "get/path/particlesPlugin" }}'></script>
  <script src='{{ partial "get/path/particlesConfig" }}'></script>
  {{ end -}}
{{- end -}}
