.achievements {
  .slider {
    .wrapper {
      .aurora-card {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        width: calc(max(20vw, 475px));

        .title {
          padding: 0 0.5rem;
        }

        .date {
          line-height: 1.2;
          font-style: italic;
          font-size: 1.25rem;
          text-align: center;
          margin: 0 0 1rem 0;
          color: $FONT_LOWLIGHT;
        }
      }
    }
  }
}
