.hero {
  min-height: 25vh;
  margin-top: $AURORA_NAVBAR_HEIGHT;

  @include flex-center-column;

  .title {
    font-size: 3.5rem;
    color: $FONT_HIGHLIGHT;
    font-variant: small-caps;
  }

  .description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: $FONT;
  }
}
