.hero {
  min-height: 25vh;
  margin-top: $AURORA_NAVBAR_HEIGHT;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 3.5rem;
    color: $FONT_HIGHLIGHT;
    font-variant: small-caps;
  }

  .description {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: $FONT;
  }
}
