.bg {
  background: $BACKGROUND_LIGHTER !important;
}

.bg-darker {
  background: $BACKGROUND_DARKER !important;
}

.aurora-background {
  background:
    linear-gradient(135deg, $AURORA_GREEN 0%, $AURORA_GREEN 1%, transparent 20%),
    linear-gradient(-45deg, $AURORA_BLUE 0%, $AURORA_BLUE 1%, transparent 20%), $BACKGROUND_BLACK;
  border-bottom: 1px solid $BACKGROUND_HIGHLIGHT;
}
