.highlight > .chroma {
  @include aurora-border;
}

// Generic
.chroma {
  display: block;
  overflow: auto;
  padding: 0.5em;
  color: $FONT;
  background-color: $BACKGROUND_LIGHTER;

  code {
    font-family: $AURORA_FONT_Mono !important;
  }

  .line {
    display: flex;
    color: $FONT;
    padding-left: 0.5rem;
  }

  .hl {
    background-color: $BACKGROUND_HIGHLIGHT;
  }

  .err {
    color: #e06c75;
    background-color: #1e0010;
  }

  // Generic emph
  .ge {
    font-style: italic;
  }

  // Generic Strong
  .gs {
    font-weight: bold;
  }

  // gu: Generic Subheading
  // gh: Generic Heading
  .gu,
  .gh {
    color: $FONT_LOWLIGHT;
  }

  // Generic inserted
  .gi {
    color: #98c379;
  }

  // Generic deleted
  .gd {
    color: #e06c75;
  }

  table {
    th,
    td {
      &:hover {
        background: none !important;
      }
    }
  }
}

// Line numbers
.chroma {
  /* LineTable */
  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  /* LineTableTD */
  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;

    &:first-child {
      border-right: 1px solid $BACKGROUND_HIGHLIGHT;
    }
  }

  /* LineNumbers */
  /* LineNumbersTable */
  .ln,
  .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: $FONT_LOWLIGHT;
  }
}

// Mapped classes
.chroma {
  // k : Keywords
  // kn: Namespace keywords
  // kp: Pseudo keywords
  // kr: Reserved keywords
  // nb: Builtin names
  // mh: LiteralNumberHex
  .k,
  .kn,
  .kp,
  .kr,
  .nb,
  .mh {
    color: #56b6c2;
  }

  // nf: Function names
  .nf {
    color: #61aeee;
  }

  // kc: Constant keywords
  // n : Name
  // nv: Variable names
  // vc: Class names
  // vg: Global Variable names
  // vi: Instance Variable names
  .kc,
  .n,
  .nv,
  .vc,
  .vg,
  .vi {
    color: #eea161;
  }

  // kd: Declarations
  // kt: Types
  // kn: Namespace
  // o : Operators
  // ow: Operator Words
  // l : Literals
  // se: Literal StringEscapes
  .kd,
  .kt,
  .kn,
  .o,
  .ow,
  .l,
  .se {
    color: #c678dd;
  }

  // s : LiteralString
  // sa: LiteralStringAffix
  // sb: LiteralStringBacktick
  // sc: LiteralStringChar
  // dl: LiteralStringDelimiter
  // sd: LiteralStringDoc
  // s2: LiteralStringDouble
  // sh: LiteralStringHeredoc
  // si: LiteralStringInterpol
  // sx: LiteralStringOther
  // sr: LiteralStringRegex
  // s1: LiteralStringSingle
  // ss: LiteralStringSymbol
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: #98c379;
  }

  // m : LiteralNumber
  // mb: LiteralNumberBin
  // mf: LiteralNumberFloat
  // mi: LiteralNumberInteger
  // mo: LiteralNumberOct
  // il: LiteralNumberIntegerLong
  .m,
  .mb,
  .mf,
  .mi,
  .mo,
  .il {
    color: #d19a66;
  }

  // p : Punctuation
  // ld: Date literals
  .p,
  .ld {
    color: #e6c07b;
  }

  // c  : Comment
  // ch : CommentHashbang
  // cm : CommentMultiline
  // c1 : CommentSingle
  // cs : CommentSpecial
  // cp : CommentPreproc
  // cpf: CommentPreprocFile
  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf {
    font-style: italic;
    color: #5c6370;
  }

  // .nt: Tag names
  .nt {
    color: #e06c75;
  }

  // na: Attribute names
  .na {
    color: $FONT;
  }
}

// Other
.chroma {
  // na: Attribute names
  // nc: Class names
  // no: Constant names
  // nd: Decorator names
  // ne: Exception names
  // nt: Tag names
  // nb: Builtin names
  // ni: Entity names
  // nl: Label names
  // nn: Namespace names
  .nc,
  .no,
  .nd,
  .ne,
  .ni,
  .nl,
  .nn {
    color: #a6e22e;
  }
}
