@include mobile-landscape {
  .slider {
    .splide__arrow {
      &--prev {
        left: 6px;
      }

      &--next {
        right: 6px;
      }
    }
  }
}

@include mobile {
  .slider {
    padding: 0;

    .splide__arrows {
      display: none !important;
    }

    .splide__track {
      width: 100%;
    }

    .splide__slide {
      .aurora-card {
        max-width: calc(100vw - 3rem);
      }
    }

    .splide__pagination {
      margin: 0.25rem 0;

      li {
        margin: 0.55rem 0.35rem;
      }
    }
  }
}
